*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
}
html.light {
    --mode-color: #fff;
    --back-theme: #ffffff;
    --fore-theme: #3785ff;
    --mode-2-color: #E5E5E5;
}
#choose {
    position: fixed;
    inset: 5px auto auto 5px;
    background-color: aliceblue;
    border-radius: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -ms-border-radius: 9px;
    -o-border-radius: 9px;
    overflow: hidden;
    word-wrap: break-word;
    white-space: wrap;
    padding: 6px 12px;
    box-shadow: 0 0 12px #aaa;
    list-style: upper-roman inside;
    z-index: 9999999;
}
#choose > li.divider {
    width: 100%;
    display: block;
    height: 0;
    border: 1px solid #C6C6C6;
    margin: 5px 0;
}
#choose > li {
    cursor: pointer;
    color: #333;
    transition: .3s color;
    -webkit-transition: .3s color;
    -moz-transition: .3s color;
    -ms-transition: .3s color;
    -o-transition: .3s color;
}
#choose > li:hover {
    color: #888;
}

/* Section 2 Styles */

#SignPage {
    width: 100%;
    height: 100%;
}
#s2 {
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: var(--back-theme);
    z-index: 0;
    position: relative;
    background-size: 140%;
    background-position: center;
    background-repeat: no-repeat;
}
.SignPanel {
    position: relative;
    max-width: 320px;
    height: 400px;
    min-width: 260px;
    width: 100%;
    margin: 0 20px;
}
.SignPanel::before {
    content: "";
    background: #333;
    opacity: 0.36;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    display: block;
    inset: 0;
    position: absolute;
    z-index: -1;
}
.SignPanel > div {
    padding: 10px 20px;
    color: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
}
.SignPanel > div > h4 {
    text-align: center;
    margin-bottom: 15px;
    margin-top: 35px;
}
.LoginPanelButton {
    width: 100%;
    margin: 12px auto 7px;
    border-radius: 200px;
    border: none;
    padding: 5px;
    background: var(--fore-theme);
    color: var(--mode-color);
    cursor: pointer;

}
.SignIcon {
    position: absolute;
    top: -35px;
    height: 70px;
    width: 70px;
    border-radius: 500px;
    background: var(--fore-theme);
    margin: auto;
    transform: translateX(-50%);
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.SignIcon > img {
    width: 100%;
}
.Backwards {
position: absolute;
  left: 15px;
  cursor: pointer;
}
.LoginPanelDiv {
    margin-bottom: 20px;
}
.LoginPanelDiv input {
    padding: 5px 15px;
    border: none;
    width: 100%;
    border-bottom: 2px solid var(--mode-2-color);
    background: transparent;
    color: var(--mode-color);
    outline: none;
}
.LoginPanelDiv input:autofill {
    background: transparent !important;
}
.LoginPanelDiv input::placeholder {
    color: #aaa;
}
.PasswordArea {
    position: relative;
}
.PasswordArea > a{
    position: absolute;
    left: 0;
    cursor: pointer;
}
.popupJS {
    position: absolute;
    left: 5px;
    z-index: 6;
    background-color: #dcdcdc;
    border-radius: 8px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    color: #000;
    padding: 4px 20px;
}
.Verifaction {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.Verifaction > input{
    display: inline-block;
    padding: 8px 5px;
    width: 20px;
    margin: 0 5px;
}
/* end Section 2 Styles */
